@using EduFlow.Entities.Enums
@using EduFlow.ViewModels.Courses
@model CreateCourseVM

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div>
        <label>Title</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div>
        <label>Description</label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>

    <div>
        <label>Price</label>
        <input asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>

    <div>
        <label>Level</label>
        <select asp-for="Level" asp-items="Html.GetEnumSelectList<CourseLevel>()">
            <option value="">-- Select Level --</option>
        </select>
    </div>

    <div>
        <label>Category</label>
        <select asp-for="CategoryId" asp-items="Model.Categories">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId"></span>
    </div>
    
    <div>
        <label>Image</label>
        <input type="file" asp-for="ImageFile" />
        <span asp-validation-for="ImageFile"></span>
    </div>

    <button type="submit">Create</button>

</form>