@model List<EduFlow.Entities.Course>

<h2>Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Title</td>
                <td>@course.Description</td>
                <td>
                    <img src="@(string.IsNullOrEmpty(course.ImageUrl)
                             ? "/images/courses/default-course.jpg"
                             : course.ImageUrl)"
                         width="150"
                         class="img-thumbnail" />
                </td>
            </tr>
        }
    </tbody>
</table>